Source: kdelibs-experimental
Section: libs
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Armin Berres <trigger+debian@space-based.de>, Modestas Vainius <modestas@vainius.eu>, George Kiagiadakis <gkiagiad@csd.uoc.gr>
Build-Depends: cdbs (>= 0.4.51), debhelper (>= 7.2.3), kdelibs5-dev (>= 4:4.2), pkg-kde-tools (>= 0.4.2), quilt
Standards-Version: 3.8.1
Homepage: http://www.kde.org/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/trunk/packages/kdelibs-experimental
Vcs-Svn: svn://svn.debian.org/pkg-kde/trunk/packages/kdelibs-experimental

Package: libknotificationitem-1-1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for new way of handling system tray
 New library for new handling system tray in a new way. Includes graceful fallback
 for "normal" systems.
 This package contains the runtime library.
 .
 This is still a bit experimental and should not be used outside the official kde modules yet.
 .
 This package is part of the kdelibs-experimental module.

Package: libknotificationitem-1-dev
Section: libdevel
Architecture: any
Depends: libknotificationitem-1-1 (= ${binary:Version}), ${misc:Depends}
Description: Development headers for libknotificationitem-1
 New library for new handling system tray in a new way. Includes graceful fallback
 for "normal" systems.
 This package contains the development files.
 .
 This is still a bit experimental and should not be used outside the official kde modules yet.
 .
 This package is part of the kdelibs-experimental module.

Package: libknotificationitem-1-dbg
Section: debug
Architecture: any
Priority: extra
Depends: libknotificationitem-1-1 (= ${binary:Version}), kdelibs5-dbg, ${misc:Depends}
Description: Debug symbols for libknotificationitem-1
 New library for new handling system tray in a new way. Includes graceful fallback
 for "normal" systems.
 This package contains the detached debugging symbols.
 .
 This is still a bit experimental and should not be used outside the official kde modules yet.
 .
 This package is part of the kdelibs-experimental module.
